/* RESET CSS */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* CODE START */

.flex-row {
	display: flex;
	flex-wrap: wrap;
}

.flex-col {
	flex: 50%;
	width: 50%;
}

/* MAIN PAGE */
#wb-header-left {
	flex: 70%;
	width: 70%;
}

#wb-header-right {
	flex: 30%;
	width: 30%;
}

#cockpit {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

#rj-link {
	position: absolute;
	right: 0;
}

.grid {
	display: grid;
	grid-auto-rows: 12vh;
	margin: 5vh;
}

.grid-cell a {
	display: block;
	width: 12vh;
	margin: auto;
}

.space-icon {
	margin: auto;
}

.tooltip {
	width: fit-content;
	margin: auto;
	text-align: center;
	z-index: 1;
}

.nav-button {
	margin: 15px auto;
	display: block;
	width: fit-content;
}

/* WORKBOOK PAGES */

.wb {
	text-align: center;
	max-width: 75%;
}

.wb .flex-col {
	padding: 20px;
}

.wb img {
	margin: 20px auto;
}

.wb p {
	margin: 20px 0;
}

.right img {
	display: inline;
}

.p5 {
	display: inline;
}

/* FOR MOBILE SCREENS */

@media (max-width: 768px) {
	.wb {
		max-width: 100%;
	}

	.flex-col,
	#wb-header-left,
	#wb-header-right {
		flex: 100%;
		width: 100%;
	}

	.grid {
		margin: 7.5vh 5vw 5vh;
	}

	.rj-left,
	.rj-right {
		width: 100%;
	}
}
