/* RESET CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* CODE START */

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  flex: 50%;
  width: 50%;
}

/* RESEARCH JOURNAL */

.rj-row {
  display: flex;
  flex-wrap: wrap;
}

.rj-left,
.rj-right {
  width: 50%;
}

/* FOR MOBILE SCREENS */

@media (max-width: 600px) {
  .flex-col {
    flex: 100%;
    width: 100%;
  }

  .rj-left,
  .rj-right {
    width: 100%;
  }
}
