/* RESET CSS */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* CODE START */

.flex-row {
	display: flex;
	flex-wrap: wrap;
}

.flex-col {
	flex: 50%;
	width: 50%;
}

#p5_loading {
	width: 100%;
	height: 100%;
	background-color: black;
}
/* MAIN PAGE */
#wb-header-left {
	flex: 70%;
	width: 70%;
}

#wb-header-right {
	flex: 30%;
	width: 30%;
}

#cockpit {
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

#rj-link {
	position: absolute;
	right: 0;
}

.grid {
	display: grid;
	grid-auto-rows: 12vh;
	margin: 5vh;
}

.grid-cell a {
	display: block;
	max-width: 12vh;
	margin: auto;
}

.space-icon {
	margin: auto;
}

.tooltip {
	width: fit-content;
	margin: auto;
	text-align: center;
}

.nav-button {
	margin: 1.75em auto;
	display: inline-block;
	width: fit-content;
}

/* WORKBOOK PAGES */

.wb {
	text-align: center;
	max-width: 75%;
}

.wb .flex-col {
	padding: 20px;
}
.rj .flex-col {
	padding: 30px;
}

.wb img,
.rj img {
	margin: 1.5em auto;
}

.wb h1,
.wb p {
	margin: 1em;
}

.wb h2 {
	margin: 1.5em;
}

.right {
	text-align: right;
}

.inline {
	display: inline;
}

.p5 canvas {
	margin: auto;
}

/* RESEARCH JOURNAL*/

.rj {
	text-align: left;
}

.rj h1 {
	padding: 20px 30px;
}

.rj p,
.rj h2 {
	margin: 1.5em 0;
}

/* PRINTING STYLES */

@media print {
	@page {
		size: A4 landscape;
		margin: 0;
	}

	.flex-row {
		page-break-before: always;
	}
}

/* FOR MOBILE SCREENS */

@media (max-width: 768px) {
	.wb {
		max-width: 100%;
	}

	.flex-col,
	#wb-header-left,
	#wb-header-right {
		flex: 100%;
		width: 100%;
	}

	.grid {
		margin: 7vh 2.5vw 2.5vh;

		grid-auto-rows: 12.5vh;
	}

	.grid-cell a {
		display: block;
		max-width: 8vh;
	}

	.rj-left,
	.rj-right {
		width: 100%;
	}
}
